<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

<xacro:include filename="$(find agri_bot)/urdf/camera_macro.xacro"/>

<xacro:property name="camera_x" value="0.00"/>
<xacro:property name="camera_y" value="0.14"/>
<xacro:property name="camera_z" value="0.07"/>

<xacro:camera_create name = "left">
    <origin xyz="${camera_x} ${-camera_y} ${camera_z}" rpy="0 0 ${-pi/2}"/>
</xacro:camera_create>

<xacro:camera_create name = "right">
    <origin xyz="${camera_x} ${camera_y} ${camera_z}" rpy="0 0 ${pi/2}"/>
</xacro:camera_create>

</robot>